/* custom */
.react-datepicker__input-container input {
  padding: 5px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 300px;
}
