/* custom */
.react-datepicker__input-container input {
  padding: 0 0.5rem;
  line-height: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
}

.react-datepicker__input-container input:focus {
  border: 1px solid #1d3557;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}
